<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="jquery-3.2.1.js"></script>
    <script src="angular.js"></script>
</head>
<body ng-app="sportsStore" ng-controller="sportsStoreCtrl">
<div class="navbar">
    <a class="navbar-brand" href="#">SPORTS STORE</a>
</div>
<div class="panel panel-default row">
    <div class="col-xs-3">
        <a ng-click="selectCategory()" class="btn btn-default btn-block">Home</a>
        <a ng-repeat="item in data.products | orderBy:'category' | uniqueCategories:'category'" ng-click="selectCategory(item)"
           class="btn btn-default btn-block" ng-class="getCategoryClass(item)">
            {{item}}
        </a>
    </div>
    <div class="col-xs-8">
        <div class="well" ng-repeat="item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
            <h3>
                <strong>{{item.name}}</strong>
                <span class="pull-right label label-primary">
                    {{item.price | currency}}
                </span>
            </h3>
            <span class="lead">
                {{item.description}}
            </span>
        </div>
        <div class="pull-right btn-group">
            <a ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize" ng-click="selectPage($index+1)" class="btn btn-default" ng-class="getPageClass($index+1)">
                {{$index+1}}
            </a>
        </div>
    </div>
</div>

<script>
    angular.module('sportsStore', [])
        .constant('productListActiveClass','btn-primary')
        .constant('productListPageCount',3)
        .controller('sportsStoreCtrl', function ($scope, productListActiveClass, productListPageCount) {
            $scope.data = {
                products: [
                    {
                        name: "Product #1", description: "A product",

                        category: "Category #1", price: 100
                    }, {
                        name: "Product #2", description: "A product",

                        category: "Category #1", price: 110
                    }, {
                        name: "Product #3", description: "A product",

                        category: "Category #2", price: 210
                    }, {name: "Product #4", description: "A product", category: "Category #3", price: 202}
                ]
            };

            var selectedCategory=null;

            $scope.selectedPage=1;
            $scope.pageSize=productListPageCount;
            
            $scope.selectCategory=function (newCategory) {
                selectedCategory=newCategory;
                $scope.selectedPage=1;
            };
            
            $scope.selectPage=function (newPage) {
                $scope.selectedPage=newPage;
            };

            $scope.categoryFilterFn = function (product) {
                return selectedCategory == null || product.category == selectedCategory;
            };

            $scope.getCategoryClass=function (category) {
                return selectedCategory==category ? productListActiveClass : '';
            };
            
            $scope.getPageClass=function (page) {
                return $scope.selectedPage==page ? productListActiveClass : '';
            };
        })
        .filter('uniqueCategories',function () {
            return function (data, propertyName) {
                if (angular.isArray(data) && angular.isString(propertyName)) {
                    var results = [];
                    var keys = {};
                    for (var i = 0; i < data.length; i++) {
                        var val=data[i][propertyName];
                        if (angular.isUndefined(keys[val])) {
                            keys[val]=true;
                            results.push(val);
                        }
                    }
                    return results;
                }
                else {
                    return data;
                }
            }
        })
        .filter('range',function ($filter) {
            return function (data,page,size) {
                if (angular.isArray(data) && angular.isNumber(page) && angular.isNumber(size)) {
                    var startIndex=(page - 1) * size;
                    if (data.length < startIndex) {
                        return [];
                    }
                    else {
                        return $filter('limitTo')(data.splice(startIndex),size);
                    }
                }
                else {
                    return data;
                }
            }
        })
        .filter('pageCount',function () {
            return function (data,size) {
                if (angular.isArray(data) && angular.isNumber(size)) {
                    var result=[];
                    for (var i=0;i<Math.ceil(data.length/size);i++) {
                        result.push(i);
                    }
                    return result;
                }
                else {
                    return data;
                }
            }
        })
</script>
</body>
</html>